

.box{
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.45);
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #4f535c;
   padding: 10px 10px 20px 10px;
   margin: 30px;
   border-radius: 8px;
   box-shadow: 0 5px 60px black;
}

.container h2{
   margin-block: 20px 20px;
}

.container p{
   font-size: 0.8rem;
   text-align: center;
   margin-block: 5px;
}

.btn{
   margin-top: 30px;
   color: black;
   font-size: 0.8rem;
   padding: 15px 30px;
   background: #226e2b;
   color: white;
   border-radius: 8px;
   cursor: pointer;
   outline: none;
   border: 0;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}